$maxWidth: 1920px;
$minWidth: 320px;
$pcSize: 80px;
$mobSize: 24px;
$light: #a17676;
$borderRadiusmin: 4px;
$borderRadiusmax: 5px;
$borderRadiusVeryMax: 20px; 
$pink: #cc5769;
$light-grey: #e2dede;
$green: #117d11;
$dark: #000;
$aqua:aqua;

// ПРИМЕР
// .some {
//     color: $bg;
// }
